In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Airport_Locator")

In [50]:
trainData = pd.read_csv('Datacsv/New_trainData.csv')
avg_delay = pd.read_csv('Datacsv/Avg_Arr_Dep_Delay.csv')

In [12]:
truncTrain = trainData.head(50)

In [13]:
truncTrain.head(2)

,fl_date,mkt_unique_carrier,op_unique_carrier,origin,origin_city_name,dest,dest_city_name,crs_dep_time,dep_time,crs_arr_time,arr_time,taxi_out,taxi_in,distance,arr_delay
0,2018-02-03,AS,AS,SEA,"Seattle, WA",KOA,"Kona, HI",1740,1734,2223,2155,17.0,5.0,2688,-28
1,2018-06-09,WN,WN,SAT,"San Antonio, TX",LAS,"Las Vegas, NV",1610,1614,1655,1648,6.0,4.0,1069,-7

In [19]:
geolocator.geocode(truncTrain['origin_city_name'][0]).latitude

47.6038321

In [20]:
for i in range(len(truncTrain['origin_city_name'])):
    print(geolocator.geocode(truncTrain['origin_city_name'][i]).latitude)

47.6038321
29.4246002
35.2272086
26.1223084
41.5051613
41.8755616
29.6519684
29.9499323
36.1672559
40.7127281
5.3428475
41.8755616
36.1622296
5.3428475
32.7476308
32.7174202
38.6529545
41.8755616
33.4484367
29.7589382
25.7741728
41.8755616
40.7127281
40.7127281
45.552789
34.0536909
33.7489924
35.4729886
47.6038321
45.5202471
35.2272086
18.4274359
39.9164009
41.8755616
40.7596198
44.9772995
48.23251
38.8949924
41.8755616
35.9217839
42.3602534
33.7489924
42.8867166
38.8949924
32.7762719
35.2272086
28.5421109
34.0536909
36.1672559
25.7741728

In [42]:
longitude

{'Seattle, WA': -122.3300624,
 'San Antonio, TX': -98.4951405,
 'Charlotte, NC': -80.8430827,
 'Fort Lauderdale, FL': -80.1433786,
 'Cleveland, OH': -81.6934446,
 'Chicago, IL': -87.6244212,
 'Gainesville, FL': -82.3249846,
 'New Orleans, LA': -90.0701156,
 'Las Vegas, NV': -115.1485163,
 'New York, NY': -74.0060152,
 'Denver, CO': -72.3959849,
 'Nashville, TN': -86.7743531,
 'Dallas/Fort Worth, TX': -97.3135971,
 'San Diego, CA': -117.1627728,
 'St. Louis, MO': -90.24111656024635,
 'Phoenix, AZ': -112.0741417,
 'Houston, TX': -95.3676974,
 'Miami, FL': -80.19362,
 'Pellston, MI': -84.783936,
 'Los Angeles, CA': -118.242766,
 'Atlanta, GA': -84.3902644,
 'Oklahoma City, OK': -97.5170536,
 'Portland, OR': -122.6741949,
 'Aguadilla, PR': -67.1541343,
 'Indianapolis, IN': -86.0519568269157}

In [41]:
latitude

{'Seattle, WA': 47.6038321,
 'San Antonio, TX': 29.4246002,
 'Charlotte, NC': 35.2272086,
 'Fort Lauderdale, FL': 26.1223084,
 'Cleveland, OH': 41.5051613,
 'Chicago, IL': 41.8755616,
 'Gainesville, FL': 29.6519684,
 'New Orleans, LA': 29.9499323,
 'Las Vegas, NV': 36.1672559,
 'New York, NY': 40.7127281,
 'Denver, CO': 5.3428475,
 'Nashville, TN': 36.1622296,
 'Dallas/Fort Worth, TX': 32.7476308,
 'San Diego, CA': 32.7174202,
 'St. Louis, MO': 38.6529545,
 'Phoenix, AZ': 33.4484367,
 'Houston, TX': 29.7589382,
 'Miami, FL': 25.7741728,
 'Pellston, MI': 45.552789,
 'Los Angeles, CA': 34.0536909,
 'Atlanta, GA': 33.7489924,
 'Oklahoma City, OK': 35.4729886,
 'Portland, OR': 45.5202471,
 'Aguadilla, PR': 18.4274359,
 'Indianapolis, IN': 39.9164009}

In [49]:
trainData['dest_city_name'].nunique()

365

In [34]:
range(len(truncTrain['origin_city_name'].unique()))

range(0, 34)

In [17]:
latitude = dict()
longitude = dict()
for i in range(len(truncTrain['origin_city_name'].unique())):
    latitude[truncTrain['origin_city_name'][i]] = geolocator.geocode(truncTrain['origin_city_name'][i]).latitude
    longitude[truncTrain['origin_city_name'][i]] = geolocator.geocode(truncTrain['origin_city_name'][i]).longitude
print(latitude)
print(longitude)

{'Seattle, WA': 47.6038321, 'San Antonio, TX': 29.4246002, 'Charlotte, NC': 35.2272086, 'Fort Lauderdale, FL': 26.1223084, 'Cleveland, OH': 41.5051613, 'Chicago, IL': 41.8755616, 'Gainesville, FL': 29.6519684, 'New Orleans, LA': 29.9499323, 'Las Vegas, NV': 36.1672559, 'New York, NY': 40.7127281, 'Denver, CO': 5.3428475, 'Nashville, TN': 36.1622296, 'Dallas/Fort Worth, TX': 32.7476308, 'San Diego, CA': 32.7174202, 'St. Louis, MO': 38.6529545, 'Phoenix, AZ': 33.4484367, 'Houston, TX': 29.7589382, 'Miami, FL': 25.7741728, 'Pellston, MI': 45.552789, 'Los Angeles, CA': 34.0536909, 'Atlanta, GA': 33.7489924, 'Oklahoma City, OK': 35.4729886, 'Portland, OR': 45.5202471, 'Aguadilla, PR': 18.4274359, 'Indianapolis, IN': 39.9164009}
{'Seattle, WA': -122.3300624, 'San Antonio, TX': -98.4951405, 'Charlotte, NC': -80.8430827, 'Fort Lauderdale, FL': -80.1433786, 'Cleveland, OH': -81.6934446, 'Chicago, IL': -87.6244212, 'Gainesville, FL': -82.3249846, 'New Orleans, LA': -90.0701156, 'Las Vegas, NV': -115.1485163, 'New York, NY': -74.0060152, 'Denver, CO': -72.3959849, 'Nashville, TN': -86.7743531, 'Dallas/Fort Worth, TX': -97.3135971, 'San Diego, CA': -117.1627728, 'St. Louis, MO': -90.24111656024635, 'Phoenix, AZ': -112.0741417, 'Houston, TX': -95.3676974, 'Miami, FL': -80.19362, 'Pellston, MI': -84.783936, 'Los Angeles, CA': -118.242766, 'Atlanta, GA': -84.3902644, 'Oklahoma City, OK': -97.5170536, 'Portland, OR': -122.6741949, 'Aguadilla, PR': -67.1541343, 'Indianapolis, IN': -86.0519568269157}

In [27]:
latitudeDict = dict()
longitudeDict = dict()
for i in range(len(trainData['origin_city_name'].unique())):
    try:
        latitudeDict[trainData['origin_city_name'][i]] = geolocator.geocode(trainData['origin_city_name'][i]).latitude
        longitudeDict[trainData['origin_city_name'][i]] = geolocator.geocode(trainData['origin_city_name'][i]).longitude
    except AttributeError:
        continue
print(latitudeDict)
print(longitudeDict)

{'Seattle, WA': 47.6038321, 'San Antonio, TX': 29.4246002, 'Charlotte, NC': 35.2272086, 'Fort Lauderdale, FL': 26.1223084, 'Cleveland, OH': 41.5051613, 'Chicago, IL': 41.8755616, 'Gainesville, FL': 29.6519684, 'New Orleans, LA': 29.9499323, 'Las Vegas, NV': 36.1672559, 'New York, NY': 40.7127281, 'Denver, CO': 5.3428475, 'Nashville, TN': 36.1622296, 'Dallas/Fort Worth, TX': 32.7476308, 'San Diego, CA': 32.7174202, 'St. Louis, MO': 38.6529545, 'Phoenix, AZ': 33.4484367, 'Houston, TX': 29.7589382, 'Miami, FL': 25.7741728, 'Pellston, MI': 45.552789, 'Los Angeles, CA': 34.0536909, 'Atlanta, GA': 33.7489924, 'Oklahoma City, OK': 35.4729886, 'Portland, OR': 45.5202471, 'Aguadilla, PR': 18.4274359, 'Indianapolis, IN': 39.9164009}
{'Seattle, WA': -122.3300624, 'San Antonio, TX': -98.4951405, 'Charlotte, NC': -80.8430827, 'Fort Lauderdale, FL': -80.1433786, 'Cleveland, OH': -81.6934446, 'Chicago, IL': -87.6244212, 'Gainesville, FL': -82.3249846, 'New Orleans, LA': -90.0701156, 'Las Vegas, NV': -115.1485163, 'New York, NY': -74.0060152, 'Denver, CO': -72.3959849, 'Nashville, TN': -86.7743531, 'Dallas/Fort Worth, TX': -97.3135971, 'San Diego, CA': -117.1627728, 'St. Louis, MO': -90.24111656024635, 'Phoenix, AZ': -112.0741417, 'Houston, TX': -95.3676974, 'Miami, FL': -80.19362, 'Pellston, MI': -84.783936, 'Los Angeles, CA': -118.242766, 'Atlanta, GA': -84.3902644, 'Oklahoma City, OK': -97.5170536, 'Portland, OR': -122.6741949, 'Aguadilla, PR': -67.1541343, 'Indianapolis, IN': -86.0519568269157}

In [30]:
len(latitudeDict)

101

In [32]:
len(latitude)

25

In [31]:
len(longitudeDict)

101

In [44]:
trainData['origin_city_name'].nunique()

367

In [45]:
trainData.origin_city_name.nunique()

367

In [51]:
avg_delay['fl_date'] = pd.to_datetime(avg_delay['fl_date'],
                              format='%Y-%m-%d')

In [63]:
avg_delay = pd.read_csv('Datacsv/Avg_Arr_Dep_Delay.csv')

avg_delay['fl_date'] = pd.to_datetime(avg_delay['fl_date'],
                              format='%Y-%m-%d')

#Groupby to compare monthly averages in delays
# NOTE: Negative values (early arrivals) ARE INCLUDED
month_arr = avg_delay.groupby(avg_delay['fl_date'].dt.strftime('%m'))['avg_arr_delay'].mean()
month_arr = month_arr.to_frame()
month_dep = avg_delay.groupby(avg_delay['fl_date'].dt.strftime('%m'))['avg_dep_delay'].mean()
month_dep = month_dep.to_frame()

#Resetting the index 
month_arr = month_arr.reset_index()
month_dep = month_dep.reset_index()

trainData['fl_date'] = pd.to_datetime(trainData.fl_date , format="%Y-%m-%d").dt.month

month_arr_dict =  dict(zip(month_arr.fl_date, month_arr.avg_arr_delay))
month_dep_dict =  dict(zip(month_dep.fl_date, month_dep.avg_dep_delay))

In [56]:
trainData['fl_date'] = pd.to_datetime(trainData.fl_date , format="%Y-%m-%d").dt.month

In [61]:
month_arr_dict =  dict(zip(month_arr.fl_date, month_arr.avg_arr_delay))
month_arr_dict

{'01': 3.9281951759577782,
 '02': 6.670705822847316,
 '03': 2.854581405409215,
 '04': 4.177950054675787,
 '05': 6.416833084409337,
 '06': 10.393455353404956,
 '07': 8.910038151256863,
 '08': 8.847961842961464,
 '09': 1.5852627540712663,
 '10': 2.7923909776573588,
 '11': 2.757202900691894,
 '12': 4.815971225866452}

In [57]:
trainData.head()

,fl_date,mkt_unique_carrier,op_unique_carrier,origin,origin_city_name,dest,dest_city_name,crs_dep_time,dep_time,crs_arr_time,arr_time,taxi_out,taxi_in,distance,arr_delay
0,2,AS,AS,SEA,"Seattle, WA",KOA,"Kona, HI",1740,1734,2223,2155,17.0,5.0,2688,-28
1,6,WN,WN,SAT,"San Antonio, TX",LAS,"Las Vegas, NV",1610,1614,1655,1648,6.0,4.0,1069,-7
2,3,AA,AA,CLT,"Charlotte, NC",IAH,"Houston, TX",2210,2218,2356,1,14.0,6.0,912,5
3,6,DL,DL,FLL,"Fort Lauderdale, FL",ATL,"Atlanta, GA",745,738,932,927,15.0,14.0,581,-5
4,3,UA,EV,CLE,"Cleveland, OH",IAH,"Houston, TX",845,841,1115,1047,17.0,6.0,1091,-28